RewriteEngine On

RewriteRule ^([a-z-A-Z]+)/([a-z]+)/([0-9]+)$ index.php?class=$1&action=$2&id=$3
RewriteRule ^([a-z-A-Z]+)/([a-z]+)/?$ index.php?class=$1&action=$2
RewriteRule ^([a-z-A-Z]+)/?$ index.php?class=$1